header {
    background-color: var(--primaria);
    color: #fff;
    height: 8vh;
    width: 100%;
    position: fixed; /*ajustar mais pra frente, talvez*/
    top: 0;
    z-index: 1000;
    box-shadow: 0.625rem 0.625rem 3.375rem 0rem rgba(0, 0, 0, 0.171);
    transition: 0.6s
}

header .header-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(8vh / 3); /*centralizar*/
    gap: 2rem;
}

header .a-header {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-family: var(--font1);
    font-size: 1.5rem;
    text-shadow: 0rem 0rem 0.313rem rgba(0, 0, 0, 0.507);
    transition: 0.6s
}

header .a-header:hover{
    transform: scale(1.1);
}

header .header-nav .fa-solid {
    margin-right: 0.5rem;
}

header .header-nav #a-user{
    display: flex;
    justify-content: flex-end;
    position: absolute; /*correção, antes estava sendo relative + transform X e Y, deslocava o elemento visualmente, mas o espaço que ele ocupa fisicamente na página não mudava*/
    top: 50%; 
    right: 1.5rem; 
    transform: translateY(-50%);
}

header .header-nav #a-user:hover{
    transform: scale(1.1) translateY(-50%);
}