:root {
    --primaria: #f36944;
    --secundaria: white;
    --destaque: rgb(136, 136, 136);
    --escuro: rgba(184, 184, 184, 0.274);
    --black: black;
    --sombraX: rgba(0, 0, 0, 0.171);
    --cinzaInput: rgba(0, 0, 0, 0.11);
    --vermelho: red;
    --font1: "Archivo Black", sans-serif;
    --font2: "Plus Jakarta Sans", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    position: relative;
}