:root {
    --primaria: #f36944;
    --secundaria: white;
    --destaque: rgb(136, 136, 136);
    --escuro: rgba(184, 184, 184, 0.274);
    --font1: "Archivo Black", sans-serif;
    --font2: "Plus Jakarta Sans", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

.window{ 
    display: flex;
    width: 60vw;
    height: 60vh;
    background-color: var(--secundaria);
    margin: auto;
    align-items: center;
    position: relative;
    box-shadow: 0.625rem 0.625rem 3.375rem 0rem rgba(0, 0, 0, 0.171);
    font-family: var(--font2);
    position: relative;
}

.window::after{ /*seta*/
    position: absolute;
    width: 3.125rem;
    height: 3.125rem;
    background-color: red;
}

.login{ /*parte branca*/
    background-color: var(--secundaria);
    height: 100%;
    width: 50%;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dizeres{ /*parte laranja*/
    background-color: var(--primaria);
    height: 100%;
    width: 50%;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dizeres-wrapper{
    padding: 0 2rem 0 2rem;
}

.titulo{
    font-family: var(--font1);
    font-size: 3rem;
    padding: 0 0 1.6rem 0;
    text-shadow: 0rem 0rem 0.313rem rgba(0, 0, 0, 0.507);
}

#titulo-dizeres{
    color: var(--secundaria);
}

.redes-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 1vh;
    width: 8vw;
    height: 4vh;
    align-items: center;
    position: relative;
}

.fa-brands{ /*icones redes sociais*/
    font-size: 1rem;
    position: relative;
    color: var(--destaque);
}

.fa-brands::before{ /*fundo bolinhas*/
    content: "";
    position: absolute;
    background-color: var(--escuro);
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-1vw) translateY(-2vh);
}

.paragrafo{
    text-align: center;
    font-size: 1.5rem;
    padding: 1.5rem 1rem 1rem 1rem;
}

#paragrafo-d{
    color: var(--secundaria);
    padding: 1rem;
}

.botao{
    width: 8vw;
    height: 6vh;
    background-color: #f36944;
    border-radius: 2rem;
    margin: 1rem;
    border: 0.1rem solid var(--secundaria);
    font-family: var(--font1);
    color: var(--secundaria);
}

#botao-entrar{
    color: var(--secundaria);
}

.inputs-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
}

.input{
    background-color: rgba(175, 175, 175, 0.281);
    border: 0.1rem solid rgba(0, 0, 0, 0.11);
    border-radius: 2rem;
    width: 15vw;
    height: 3vh;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}

.fechar{ /*fundo X*/
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: relative;
    z-index: 1;
    transform: translateX(58.6vw) translateY(-28.9vh);
    color: var(--secundaria);
    text-align: center;
    padding: 0.5vw;
    box-shadow: 0.625rem 0.625rem 1rem 0rem rgba(0, 0, 0, 0.171); /*shadow circulo*/
    /*text-shadow: 0.05rem 0.05rem 0.05rem  rgb(0, 0, 0); /*shadow X*/
    color: var(--primaria);
    cursor: pointer;
}

.fechar::before{ /*X*/
    content: "";
    position: absolute;
}
