.window{ 
    display: flex;
    width: 60vw;
    height: 60vh;
    background-color: var(--secundaria);
    margin: 0;
    align-items: center;
    box-shadow: 0.625rem 0.625rem 3.375rem 0rem rgba(0, 0, 0, 0.171);
    font-family: var(--font2);
    position: fixed;
    transition: transform 100ms ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.window::after{ /*seta*/
    position: absolute;
    width: 3.125rem;
    height: 3.125rem;
    background-color: var(--vermelho);
}

.login{ /*parte branca*/
    background-color: var(--secundaria);
    height: 100%;
    width: 50%;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dizeres{ /*parte laranja*/
    background-color: var(--primaria);
    height: 100%;
    width: 50%;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dizeres-wrapper{
    padding: 0 2rem 0 2rem;
}

.titulo{
    font-family: var(--font1);
    font-size: 3rem;
    padding: 0 0 1.6rem 0;
    text-shadow: 0rem 0rem 0.313rem rgba(0, 0, 0, 0.507);
    text-align: center;
}

#titulo-dizeres{
    color: var(--secundaria);
}

.redes-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 1vh;
    width: 8vw;
    height: 4vh;
    align-items: center;
    position: relative;
}

.fa-brands{ /*icones redes sociais*/
    font-size: 1rem;
    position: relative;
    color: var(--destaque);
}

.fa-brands::before{ /*fundo bolinhas*/
    content: "";
    position: absolute;
    background-color: var(--escuro);
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-1vw) translateY(-2vh);
}

.paragrafo{
    text-align: center;
    font-size: 1.5rem;
    padding: 1.5rem 1rem 1rem 1rem;
}

#paragrafo-d{
    color: var(--secundaria);
    padding: 1rem;
}

.botao{
    width: 8vw;
    height: 6vh;
    background-color: var(--primaria);
    border-radius: 2rem;
    margin: 1rem;
    border: 0.1rem solid var(--secundaria);
    font-family: var(--font1);
    color: var(--secundaria);
}

.botao:hover{
    background-color: var(--secundaria);
    transition: 0.6s;
    color: var(--primaria);
    border: 0.1rem solid var(--black);
    transform: scale(1.1);
}

#botao-entrar{
    color: var(--secundaria);
}

#botao-entrar:hover{
    background-color: var(--secundaria);
    transition: 0.6s;
    color: var(--black);
    border: 0.1rem solid var(--black);
    transform: scale(1.1);
}

.inputs-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
}

.input{
    background-color: var(--escuro);
    border: 0.1rem solid var(--cinzaInput);
    border-radius: 2rem;
    width: 15vw;
    height: 3vh;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}

.fechar{ /*fundo X*/
    background-color: var(--secundaria);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    transform: translateX(58.6vw) translateY(-28.9vh);
    color: var(--secundaria);
    text-align: center;
    padding: 0.5vw;
    box-shadow: 0.1rem 0.1rem 1rem 0rem var(--sombraX); /*shadow circulo*/
    /*text-shadow: 0.05rem 0.05rem 0.05rem  rgb(0, 0, 0); /*shadow X*/
    color: var(--primaria);
    cursor: pointer;
}

.fechar::before{ /*X*/
    content: "";
    position: relative;
}

.fechar:hover{
    background-color: var(--vermelho);
    transition: 0.6s;
    transform: translateX(58.6vw) translateY(-28.9vh) scale(1.1);
}

/*media querie*/
@media (max-width:1200px){
    .window{ /*tela popup*/
        width: 80vw;
        height: 70vh;
    }

    .botao{ /*botoes*/
        width: 20vw;
        height: 4vh;
        margin: 1rem;
        font-size: 1rem;
    }

    .titulo{ 
        font-size: 3rem;
        padding: 0 0 1.6rem 0;
        text-shadow: 0rem 0rem 0.313rem rgba(0, 0, 0, 0.507);
    }

    .paragrafo{
        font-size: 1.2rem;
        text-align: center;
        word-spacing: 0.1rem;
        line-height: 1;
    }

    .inputs-wrapper{ /*input nome email senha*/
        gap: 0.7rem;
        padding-top: 0.5rem;
    }
    
    .input{
        width: 25vw;
        height: 2vh;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
        font-size: 1rem;
    }

    .redes-wrapper{ /*google fb e linkedin*/
        gap: 5.5vh;
        width: 8vw;
        height: 4vh;

    }

    .fa-brands::before{
        transform: translateX(-4vw) translateY(-2.8vh);
        padding: 0.7rem;
    }

    .fechar{ /*X*/
        transform: translateX(78vw) translateY(-34vh);
        padding: 0.7rem;
        font-size: 0.9rem;
    }
    
    .fechar:hover{
        transform: translateX(78vw) translateY(-34vh) scale(1.1);
    }
}

@media (max-width: 768px) {
    .window{ /*tela popup*/
        width: 85vw;
        height: 70vh;
    }

    .botao{ /*botoes*/
        width: 28vw;
        height: 4vh;
        margin: 1rem;
        font-size: 1.2rem;
    }

    .titulo{ 
        font-size: 2rem;
        padding: 0 0 1.6rem 0;
        text-shadow: 0rem 0rem 0.313rem rgba(0, 0, 0, 0.507);
    }

    .dizeres-wrapper{
        padding: 0 1rem 0 1rem;
    }

    .paragrafo{
        font-size: 1.4rem;
        text-align:center;
        word-spacing: 0.1rem;
        line-height: 1.2;
    }

    .inputs-wrapper{ /*input nome email senha*/
        gap: 0.6rem;
    }
    
    .input{
        width: 28vw;
        height: 2vh;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
        font-size: 1.2rem;
    }

    .redes-wrapper{ /*google fb e linkedin*/
        gap: 6vh;
        width: 8vw;
        height: 4vh;

    }

    .fa-brands::before{
        transform: translateX(-8vw) translateY(-3vh);
        padding: 1rem;
    }

    .fechar{ /*X*/
        transform: translateX(81vw) translateY(-34vh);
        padding: 1rem;
        font-size: 1rem;
    }
    
    .fechar:hover{
        transform: translateX(81vw) translateY(-34vh) scale(1.1);
    }
}

@media (max-width: 480px) {
    .window{ /*tela popup*/
        width: 90vw;
        height: 60vh;
    }

    .botao{ /*botoes*/
        width: 28vw;
        height: 4vh;
        margin: 1rem;
        font-size: 0.8rem;
    }

    .titulo{ 
        font-size: 2rem;
        padding: 0 0 1.6rem 0;
        text-shadow: 0rem 0rem 0.313rem rgba(0, 0, 0, 0.507);
    }

    .paragrafo{
        font-size: 1rem;
    }

    .inputs-wrapper{ /*input nome email senha*/
        gap: 0.4rem;
    }
    
    .input{
        width: 28vw;
        height: 2vh;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
    }
    .redes-wrapper{ /*google fb e linkedin*/
        display: flex;
        justify-content: space-between;
        gap: 4.5vh;
        width: 8vw;
        height: 4vh;
        align-items: center;
        position: relative;
    }

    .fa-brands::before{
        transform: translateX(-8.5vw) translateY(-2vh);
        padding: 0.8rem;
    }

    .fechar{ /*X*/
        transform: translateX(87vw) translateY(-29.5vh);
        padding: 0.4rem;
        font-size: 1rem;
    }
    
    .fechar:hover{
        transform: translateX(87vw) translateY(-29.5vh) scale(1.1);
    }
} 